{% extends "layout.html" %}
{% block title %}About Me{% endblock %}

{% block content %}
<section class="container">
    <h1 class="f1 lh-solid">About me.</h1>
    <img src="{{ url_for('static', filename='img/wilton.jpg')}}" alt="">

    <h2 class="f3">My Name is Wilton Cruz, I am Currently living in Charlotte, North Carolina.</h2>

    <p class="lh-copy">Prior to Programming I was Doing Milling and Landscaping for a long time. then decided to Move to Another Career,I  started studying at TreeHouse an Online School for About 2 and a Half Years. Is Not Much About me, is What I Can Do for you. 😉</p>

    <h3 class="f2">lerarning lessons</h3>

    <p class="lh-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi consequatur totam quibusdam odio labore itaque, sunt expedita aliquam perspiciatis!</p>
</section>
{% endblock %}