{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<header class="front-page">
  <div class="container">
  <h1 class="f-headline-ns lh-solid f4 lh-title">hello world!. <br>Place whatever you want here.</h1>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis voluptatum tempora at.</h2>
  </div>
</header>

<section>
  <div>
    <h1>Cloud Hosting.</h1>
    <p>I am Working with One of the Best Cloud Hosting company, Digital Ocean. They provide Reliable, Secure and Fast SSD Drives. Which means you Don't Share your Hosting space.</p>
  </div>

  <div>
    <h1>Security Importance.</h1>
    <p>Taking the right approach to Build your Website or Web application is the First thing I will put in my Mind, from start to finish.</p>
  </div>
  <div>
    <h1>Fast Websites.</h1>
    <p>it's all About Conversion. a website that loads in a range from 0 to 2 seconds it's considered fast,  but if it takes more than 3 seconds then you are in trouble with search engines. in Other Words, your website will be Hard to be Find.</p>
  </div>
</section>

<section>
  <div>
    <h2>Looking Forward to Work With You.</h2>
    <p>As a Freelance Web Designer Contractor, I Work with Webshops and Business Owner.</p>
  </div>
</section>

{% endblock %}