<!doctype html>
<html>

  <head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/pythonLogo1.svg') }}">
    
  {% endblock %}
  </head>

  <body>

    <nav>
      {% block nav %}
      <div class="top-nav">
        <ul class="menu">
          <li><a href="{{ url_for('index')}}">home</a></li>
          <li><a href="{{ url_for('about')}}">about</a></li>
          <li><a href="{{ url_for('portfolio')}}">portfolio</a></li>
          <li><a href="{{ url_for('contact')}}">contact</a></li>
        </ul>
      </div>
      {% endblock nav%}
    </nav>
    <section id="content row">{% block content %}{% endblock %}</section>
    
    <footer class="center w-80">
      {% block footer %}
      <div class="container">
      <p>&copy;2017 designed and developed with 💗 by <a href="#">Your Name</a></p>
      </div>
      {% endblock %}
    </footer>
    {% block javascript %}
    <script src="{{ url_for('static', filename='modernizr-custom.js') }}" type="text/javascript">
    </script>
    {% endblock %}
  </body>
</html>